body {
  padding-top: 5rem;
}
section{
	padding: 40px 0px 40px 0px;
}
.em-text{
	color:#1caa98 !important;
}
.col-md-4{
	margin-bottom: 20px;
}
.navbar-default{
	background-color:#fafafa !important;
}
.nav-bar-items{
	color:#808080 !important;
	padding-right: 3px;
	padding-left:3px;
}
.jumbotron p{
	font-size: 25px;
	margin-bottom: 55px;
}
.jumbotron img.app-btn{
	width:40%;
	margin-right:3px;
}
.jumbotron {
	background:grey url(../img/site_showcase_bg.jpg) no-repeat top center;
	color:#fff;
	height:600px;
	overflow: none;
}
.jumbotron h1{
	margin-top: 60px;
}
.jumbotron .phone{
	width:75%;
}

img.demo{
	width:100%;
	padding:3px;
	border:1px solid #ccc;
}
.feat{
	background:#1caa98;
	color: #fff;
	padding: 40px;
	overflow:auto;
}
.feat ul li{
	font-size: 22px;
	list-style: none;
	line-height: 2em;
}

.feat ul{
	padding: 0;
	margin:0;
}
section#title-bar{
	padding:0;
	margin:0;
	height:80px;
	color:#fff;
	background-color: #1caa98;
	
}
section#title-bar h1{
	margin-bottom:20px;
}
footer{
	background-color:#333;
	color:#fff;
	padding: 30px 0 20px 0;
}
footer li{
	float:left;
	padding: 0 10px 0 10px;
	list-style:none;
}
footer a{
	color:#fff;
}
footer p{
	float: right;
}

/* MEDIA QUERIES */

@media(max-width: 1200px){

}
@media(max-width: 991px){
.phone{
	display: none !important;
}
}
@media(min-width: 768px) and(max-width: 991px){

.jumbotron img.app-btn{
	width:30%;
}
.jumbotron{
	height: 400px !important;
	background-size: 100% 100%;
}
.jumbotron h1{
	margin-top: 10px;
}
}
@media(max-width: 768px){
.jumbotron{
	height: 400px !important;
	background-size: 100% 100%;
}
.jumbotron h1{
	margin-top: 10px;
}
}
@media(max-width: 500px){
.jumbotron{
	height:450px !important;
	background-size: 100% 100%;
	background-image: none;
	text-align: center;
}
.jumbotron img.app-btn{
	width:60%;
	margin:0 auto 30px auto;
	display:block;
}
.feat ul li{
	font-size: 19px !important;
}
footer p{
	float:none;
	text-align: center;
	padding-top: 20px;
}
}